<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.snaily.prochamp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".C_tab"
            android:label="@string/title_activity_c_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cpp_tab"
            android:label="@string/title_activity_cpp_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Py_tab"
            android:label="@string/title_activity_py_tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppHelloWorld"
            android:label="@string/title_activity_hello_world"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppInputdata"
            android:label="@string/title_activity_cpp_inputdata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppNewline"
            android:label="@string/title_activity_cpp_newline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppArithmetic"
            android:label="@string/title_activity_cpp_arithmetic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppIfelse"
            android:label="@string/title_activity_cpp_ifelse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppSwitch"
            android:label="@string/title_activity_cpp_switch"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppForloop"
            android:label="@string/title_activity_cpp_forloop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppWhileloop"
            android:label="@string/title_activity_cpp_whileloop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CppDowhile"
            android:label="@string/title_activity_cpp_dowhile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>